<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	
	<title>Men Clothing | Contact Us</title>
</head>

<body>

	<!-- Navbar -->
	<ul>
	  <li><a class="active" href="home-page">Pagina de Inicio</a></li>
	  <li><a href="order">Pedido</a></li>
	  <li style="float:right"><a href="contact">Contacto</a></li>
	  <li style="float:right"><a href="about">Hacerca de Nosotros</a></li>
	</ul>

	<!-- Header -->
	<header class="header" style="max-width:1600px; min-width:500px" id="home">
		<h1 class="title">Clothing Factory</h1>
	</header>
	
	<!-- Footer -->	
	<footer class="footer">
		<p>Address: Circular #74, Medellín, Antioquia</p>
		<p>Telephone: (4) 4133209</p>
		<p>Email: bosi@mybosi.com.</p>
	</footer>

</body>
</html>